.header_title{
    background-color: #000;
    padding: 5px 0px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

}
.form-control {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.header_search{
    background-image: url(./img/library.jpg);
    background-repeat: no-repeat;
    height: 600px;
    padding: 50px 20px;
    background-size:cover;
}

.formulario{
    background-color: rgba(0, 51, 102, 0.6);
    padding: 10px;
    
}
.consulta{
    display: flex;
    justify-content: space-between;
    padding:50px 40px;
    background-color: #fff;
    border-radius: 3px;
    
}
.col-7{
    flex: 0 0 64.66666667%;
    max-width: 66.66666667%;
}
.btn{
    margin-top: 23px;
    color: #fff;
    background: #7952b3;
    border-color:#7952b3 ;
}
.btn_login{
    color: #fff;
    background: #7952b3;
    border-color:#7952b3 ;
    padding: 10px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 0px;
}
.login{
    display: flex;
    justify-content: center;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.book-list{
    padding: 40px;
    display:flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.book-item{
    padding: 10px 20px;
    color: #fff;
    background-color:#444649;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-item p {
    font-size: 0.8rem;
}
.cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;

}

footer{
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #444649;
    padding: 20px;
}

ul {
    list-style-type: none;
  }

  a {
    color: rgb(178, 233, 28);
  }



 /* Estos estilos solo se aplicarán para dispositivos moviles */
@media (max-width: 768px) {
   
    .form-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .col-7{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .consulta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:50px 40px;
        background-color: #fff;
        border-radius: 3px;
        
    }

    .btn_login{
        color: #fff;
        background: #7952b3;
        border:solid 2px #7952b3 ;
        border-radius: 0.3rem;
        width: 80%;
        padding: 10px;
        border-radius: 0.25rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        margin: 5px 0px;
    }

    .btn{
        color: #fff;
        background: #7952b3;
        border-color:#7952b3 ;
    }

    .btn:hover{
        color: #7952b3;
        background: transparent;
        border:solid 2px #7952b3 ;
    
    }

    .btn_login:hover{
        color: #7952b3;
        background: transparent;
        border:solid 2px #7952b3 ;
        border-radius: 0.3rem;
    }

    .book-list{
        padding: 40px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .book-item{
        margin: 10px 0px;
        padding: 10px 20px;
        color: #fff;
        background-color:#444649;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .cover{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;

    }

    .header_search{
        background-image: url(./img/library.jpg);
        background-repeat: no-repeat;
        height: 600px;
        padding: 50px 20px;
        background-size:cover;
    }

    ul {
        list-style-type: none;
      }


}